.sect-form {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 80px 1rem;
}

.sect-form form {
  flex: 1;
  background-color: #f7f7f7;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 8px 100px;
}

.sect-form form h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #212121;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .sect-form {
    flex-direction: column;
  }
  .sect-form form {
    padding: 8px 10px;
  }
}
